:root {
  --primary-font: "Roboto", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-icon-color: #afb1b8;
  --accent-color: #2196f3;
  --primary-transition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--primary-transition-timing);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}
.link:hover > .contacts__icon, .link:focus > .contacts__icon {
  fill: var(--accent-color);
}

.list,
.list li {
  list-style: none;
  padding-left: 0;
  display: inline-block;
}

button {
  cursor: pointer;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 100;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--primary-transition-timing), visibility var(--primary-transition-timing);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__nav-list {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    margin-bottom: 309px;
  }
}
@media screen and (max-width: 767px) and (max-width: 446px) {
  .mobile-menu__nav-list {
    margin-bottom: 280px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__nav-item {
    padding-bottom: 32px;
  }
  .mobile-menu__nav-item:last-child {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__nav-link_active {
    color: var(--accent-color);
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__contacts-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__phone {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 767px) and (max-width: 446px) {
  .mobile-menu__phone {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) and (max-width: 299px) {
  .mobile-menu__phone {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__email {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__social-item {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu__social-item:last-child {
    border: none;
  }
}
@media screen and (max-width: 767px) and (max-width: 446px) {
  .mobile-menu__social-item:first-child {
    margin-bottom: 7px;
  }
}
@media screen and (max-width: 767px) and (max-width: 351px) {
  .mobile-menu__social-item:nth-child(2) {
    border: none;
    margin-right: 11px;
  }
}
@media screen and (max-width: 767px) and (max-width: 351px) {
  .mobile-menu__social-item:nth-child(3) {
    padding-right: 13px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #000;
  margin-right: 87px;
}
.logo .link:hover, .logo .link:focus {
  color: inherit;
}
.logo span {
  color: var(--accent-color);
}

.btn {
  font-family: inherit;
  font-size: 16px;
}

.section-heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .section-heading {
    font-size: 36px;
    line-height: 42px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--primary-transition-timing), visibility var(--primary-transition-timing);
}
.backdrop .modal {
  transition: scale var(--primary-transition-timing);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  scale: 0;
  transition: scale var(--primary-transition-timing);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  max-width: calc(100% - 30px);
  height: 580px;
  background-color: #fff;
  scale: 1;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
}

.modal-caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-form-field-desc {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--primary-transition-timing);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--primary-transition-timing);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-family: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--primary-transition-timing);
}
.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-comment ::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-wrapper {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}
.modal-form-check-wrapper a {
  color: var(--accent-color);
}

.modal-form-own-check {
  border: 1px solid #000000;
  border-radius: 2px;
  margin-right: 9px;
}
.modal-form-check:checked + .modal-form-own-check {
  padding: 3.5px 2.5px;
  background-color: var(--accent-color);
  border: none;
}
.modal-form-check:focus + .modal-form-own-check {
  outline: 2px solid var(--accent-color);
}

.modal-form-own-check-icon {
  display: none;
}
.modal-form-check:checked + .modal-form-own-check .modal-form-own-check-icon {
  display: block;
}

.modal-form-btn {
  align-self: center;
  background: var(--accent-color);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 54px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
  .navbar {
    display: none;
  }
  .contacts {
    display: none;
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .header {
    padding-top: 21px;
  }
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000;
    margin-right: 87px;
  }
  .logo .link:hover, .logo .link:focus {
    color: inherit;
  }
  .logo span {
    color: var(--accent-color);
  }
  .navbar {
    display: flex;
    width: 282px;
    margin-right: 96px;
  }
  .navbar__link_active {
    color: var(--accent-color);
    padding-bottom: 21px;
    position: relative;
  }
  .navbar__link_active::after {
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
  }
  .navbar__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .contacts__link {
    display: flex;
    align-items: center;
  }
  .contacts__icon {
    fill: var(--secondary-text-color);
    margin-right: 10px;
    transition: fill var(--primary-transition-timing);
  }
}
@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid #ececec;
    padding: 0;
  }
  .header__container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .logo {
    margin-right: 92px;
  }
  .navbar {
    margin-right: 315px;
  }
  .navbar__item {
    margin-right: 50px;
  }
  .navbar__link_active {
    padding-bottom: 32px;
  }
  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
  }
  .contacts .header__email {
    margin-right: 30px;
  }
}
.order {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order/mobile/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px 400px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order/mobile/hero@2x.jpg);
  }
}
.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__text {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

.order__btn {
  background: var(--accent-color);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .order {
    background-size: 768px 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order/tablet/hero.jpg);
    background-position: top;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order/tablet/hero@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .order {
    background-size: 1600px 600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order/desktop/hero.jpg);
    background-position: top;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order/desktop/hero@2x.jpg);
  }
}
.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-item {
  width: 100%;
  max-width: 450px;
}
.features-item:not(:last-child) {
  margin-bottom: 30px;
}

.features-image {
  text-align: center;
  padding: 25px 0;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-item-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}

.features-item_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .features-item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-item {
    max-width: 270px;
  }
}
.mobile-menu.is-open {
  overflow: auto;
}

@media screen and (max-width: 1199px) {
  .tasks {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .tasks {
    display: block;
  }
  .tasks-list {
    display: flex;
    justify-content: space-between;
  }
  .tasks-item > a {
    position: relative;
  }
  .tasks-label-div {
    width: 370px;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    padding: 27px 0;
    position: absolute;
    bottom: 0;
  }
  .tasks-label-text {
    text-transform: uppercase;
    color: #fff;
  }
}
@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team {
  background-color: #f5f4fa;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-top: none;
  padding-bottom: 30px;
}
.team-item img {
  margin-bottom: 30px;
  max-width: 100%;
}

.team-item-text {
  text-align: center;
  margin-bottom: 16px;
}

.team-name {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--secondary-text-color);
}

.team-social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding: 0 32px;
}

.team-social-div {
  width: 44px;
  height: 44px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  transition: background-color var(--primary-transition-timing);
}
.team-social-div:hover, .team-social-div:focus {
  background-color: var(--accent-color);
}

.team-social-icon {
  fill: var(--primary-icon-color);
  transition: fill var(--primary-transition-timing);
}
.team-social-div:hover > .team-social-icon, .team-social-div:focus > .team-social-icon {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
  }
}
.clients-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients-div {
  width: 170px;
  height: 92px;
  text-align: center;
  padding: 16px 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--primary-transition-timing);
}
.clients-div:hover, .clients-div:focus {
  border-color: var(--accent-color);
}

.clients-logo {
  fill: var(--primary-icon-color);
  transition: fill var(--primary-transition-timing);
}
.clients-div:hover > .clients-logo, .clients-div:focus > .clients-logo {
  fill: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .clients-list {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
  }
  .clients-div {
    width: 226px;
  }
}
@media screen and (max-width: 767px) {
  .clients-div {
    max-width: 210px;
  }
}
.footer {
  background-color: #2f303a;
  position: relative;
  z-index: 1;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

.footer-logo {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
  margin-right: 0;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-style: normal;
  text-align: center;
}
.footer-address p {
  padding-bottom: 9px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-text {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-item {
  margin-right: 10px;
}

.footer-social-div {
  width: 44px;
  height: 44px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--primary-transition-timing);
}
.footer-social-div:hover, .footer-social-div:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: var(--primary-icon-color);
  transition: fill var(--primary-transition-timing);
}
.footer-social-div:hover > .footer-social-icon, .footer-social-div:focus > .footer-social-icon {
  fill: #fff;
}

.footer-form-wrapper {
  text-align: center;
  width: 100%;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form-caption {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-form-field {
  width: 450px;
  max-width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 20px;
  padding-left: 16px;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  width: 200px;
  background: var(--accent-color);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-btn-icon {
  margin-left: 10px;
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-form-wrapper {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .footer-form-wrapper {
    margin: 0;
    width: auto;
  }
}
.projects-sort-list {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.projects-sort-btn {
  background: #f5f4fa;
  line-height: 26px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color var(--primary-transition-timing), box-shadow var(--primary-transition-timing), box-shadow var(--primary-transition-timing);
}
.projects-sort-btn:hover, .projects-sort-btn:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
}

.active-btn {
  padding-left: 25px;
  padding-right: 25px;
  background: var(--accent-color);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  position: relative;
}

.projects-card-item {
  transition: box-shadow var(--primary-transition-timing);
}
.projects-card-item:hover, .projects-card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-link {
  text-decoration: none;
  color: inherit;
}

.projects-card {
  position: relative;
}

.projects-card-image {
  position: relative;
}

.projects-card-overlay {
  width: 370px;
  height: 80px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 294px;
  transition: transform var(--primary-transition-timing), height var(--primary-transition-timing);
}
.projects-card:hover .projects-card-overlay, .projects-card:focus .projects-card-overlay {
  transform: translateY(-294px);
  height: 294px;
}

.projects-card-overlay-text {
  height: 107px;
  overflow: hidden;
}
.projects-card:hover .projects-card-overlay-text, .projects-card:focus .projects-card-overlay-text {
  overflow: visible;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
}

.projects-card-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-top: none;
  z-index: 1;
  position: relative;
}

.projects-card-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}

.projects-card-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-text-color);
}/*# sourceMappingURL=main.css.map */