.clients-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients-div {
  width: 170px;
  height: 92px;
  text-align: center;
  padding: 16px 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--primary-transition-timing);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients-logo {
  fill: var(--primary-icon-color);
  transition: fill var(--primary-transition-timing);

  .clients-div:hover > &,
  .clients-div:focus > & {
    fill: var(--accent-color);
  }
}

@media screen and (max-width: 1199px) {
  .clients-list {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
  }

  .clients-div {
    width: 226px;
  }
}

@media screen and (max-width: 767px) {
  .clients-div {
    max-width: 210px;
  }
}
