.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-item {
  width: 100%;
  max-width: 450px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features-image {
  text-align: center;
  padding: 25px 0;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-item-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}
.features-item_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .features-item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    max-width: 270px;
  }
}
