.footer {
  background-color: #2f303a;
  position: relative;
  z-index: 1;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

.footer-logo {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
  margin-right: 0;
}

// =================== footer-address =====================

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-style: normal;
  text-align: center;
  // padding-bottom: 60px;

  & p {
    padding-bottom: 9px;
  }
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

// =================== footer-social =====================

.footer-social {
  // padding-top: 72px;
  // padding-left: 70px;
}

.footer-social-text {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-item {
  margin-right: 10px;
}

.footer-social-div {
  width: 44px;
  height: 44px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--primary-transition-timing);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-icon {
  fill: var(--primary-icon-color);
  transition: fill var(--primary-transition-timing);

  .footer-social-div:hover > &,
  .footer-social-div:focus > & {
    fill: #fff;
  }
}

// =================== footer-form =====================

.footer-form-wrapper {
  // padding: 72px 0 0 93px;
  text-align: center;
  width: 100%;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form-caption {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-form-field {
  width: 450px;
  max-width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  // margin-right: 12px;
  margin-bottom: 20px;
  padding-left: 16px;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  width: 200px;
  background: var(--accent-color);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-btn-icon {
  margin-left: 10px;
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-form-wrapper {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer-form-wrapper {
    margin: 0;
    width: auto;
    text-align: left;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    // align-items: center;
    // justify-content: center;
    // text-align: left;
  }

  .footer-form-field {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
