.tasks {
  display: none;
}

@media screen and (min-width: 1200px) {
  .tasks {
    display: block;
  }
}

.tasks-list {
  display: flex;
  justify-content: space-between;
}

.tasks-item > a {
  position: relative;
}

.tasks-label-div {
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding: 27px 0;
  position: absolute;
  bottom: 0;
}

.tasks-label-text {
  text-transform: uppercase;
  color: #fff;
}
