.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #000;
  margin-right: 87px;

  & .link:hover,
  & .link:focus {
    color: inherit;
  }

  & span {
    color: var(--accent-color);
  }
}
